h1 {color: #FFA5A1;}
body{font-family: Helvetica, Arial, sans-serif;
    background-color:#F2C8AE}
a {
    color:#856367
}
p {color: #BD8894
}
.navbar-nav>.active>a {
    background-color: #F5E8BA;
    color: #CCA1AA;
}